
nav {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgb(49, 145, 209);
    outline-color: black;

}

.container {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;

}

.box {
    border-color: black;
    border-style: double;
    width: 400px;
    height: 400px;
    margin: auto;
    /* padding: 175px 200px; */
}

footer {
    padding: 30px;
    background-color: rgb(49, 145, 209);
}