
nav {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgb(49, 145, 209);
    outline-color: black;

}

.container {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;

}

.box {
    border-color: black;
    border-style: double;
    width: 400px;
    height: 400px;
    margin: auto;
    
}


#inputEl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form {
    height: 100px;
}


footer {
    padding: 10px;
    background-color: rgb(49, 145, 209);
}